{{#if addNewPost}}
<form class="postForm">
  <div>
    <label for="user">Enter Your Name</label>
    <p>{{input value=user id="user"}}</p>
  </div>
  <div>
    <label for="title">Enter a Title</label>
    <p>{{input value=title id="title"}}</p>
  </div>
  <div>
    <label for="content">Enter Your Post</label>
    <p>{{textarea value=content id="content"}}</p>
  </div>
  <div>
    <label for="image">Add an Image</label>
    <p>{{input value=image id="image"}}</p>
  </div>
  <button {{action 'savePost'}}>Submit Post</button>
</form>
{{else}}
  <button {{action 'showPostForm'}}>Add a Post</button>
{{/if}}
